<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
<!--		<add key="path" value="C:\\dev"/> -->
		<add key="path" value="C:\\dev\\timeline reader\\Takeout\\Location History\\Semantic Location History\\2023"/>
		<add key="perMonth" value="true"/>
		<add key="probTreshold" value="60"/>
	</appSettings>
</configuration>